.elementor-2 .elementor-element.elementor-element-5cd220c3 {
 background-image:url("images/potatoes.png");
 background-position:center center;
 background-repeat:no-repeat;
 background-size:cover;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 margin-top:0px;
 margin-bottom:0px;
 padding:0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-5cd220c3 > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-3eae85b8.elementor-column .elementor-column-wrap {
 align-items:flex-end;
}
.elementor-2 .elementor-element.elementor-element-3eae85b8 > .elementor-element-populated {
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2 .elementor-element.elementor-element-3eae85b8 > .elementor-element-populated > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-ed250d2.elementor-column .elementor-column-wrap {
 align-items:center;
}
.elementor-2 .elementor-element.elementor-element-ed250d2 > .elementor-element-populated {
 margin:0% 0% 10% 17%;
 padding:0px 0px 100px 0px;
}
.elementor-2 .elementor-element.elementor-element-33bbce7 {
 text-align:left;
}
.elementor-2 .elementor-element.elementor-element-33bbce7 .elementor-image img {
 width:40%;
}
.elementor-2 .elementor-element.elementor-element-33bbce7 > .elementor-widget-container {
 margin:0px 0px 190px 0px;
}
.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-menu-toggle {
 margin:0 auto;
 background-color:rgba(84,89,95,0.1);
}
.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-nav-menu--main {
 font-family:"Roboto", Sans-serif;
 font-size:17px;
 font-weight:500;
 text-transform:uppercase;
 letter-spacing:0.3px;
}
.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-nav-menu--main .elementor-item {
 color:#ffbb33;
 padding-left:15px;
 padding-right:15px;
 padding-top:5px;
 padding-bottom:5px;
}
.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-nav-menu--main .elementor-item:hover,
					.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-nav-menu--main .elementor-item:focus {
 color:#ee4854;
}
.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-nav-menu--main .elementor-item.elementor-item-active {
 color:#ffbb33;
}
.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-nav-menu--dropdown a, .elementor-2 .elementor-element.elementor-element-6ec756f .elementor-menu-toggle {
 color:#000000;
}
.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-nav-menu--dropdown {
 background-color:#ffffff;
}
.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-nav-menu--dropdown a:hover,
					.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-menu-toggle:hover {
 color:#fbb900;
}
.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-nav-menu--dropdown a:hover,
					.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-nav-menu--dropdown a.highlighted {
 background-color:rgba(254,153,51,0);
}
.elementor-2 .elementor-element.elementor-element-6ec756f .elementor-nav-menu--dropdown a.elementor-item-active {
 background-color:rgba(255,255,255,0);
}
.elementor-2 .elementor-element.elementor-element-6ec756f div.elementor-menu-toggle {
 color:#000000;
}
.elementor-2 .elementor-element.elementor-element-6ec756f > .elementor-widget-container {
 margin:0px 0px 0px 0px;
 padding:0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-36580b5 {
 text-align:left;
}
.elementor-2 .elementor-element.elementor-element-36580b5.elementor-widget-heading .elementor-heading-title {
 color:#ee4854;
}
.elementor-2 .elementor-element.elementor-element-36580b5 .elementor-heading-title {
 font-family:"Roboto", Sans-serif;
 font-size:21px;
 font-weight:400;
 line-height:1.4em;
}
.elementor-2 .elementor-element.elementor-element-36580b5 > .elementor-widget-container {
 margin:0px 0px 0px 13px;
}
.elementor-2 .elementor-element.elementor-element-50842157 > .elementor-container {
 max-width:650px;
}
.elementor-2 .elementor-element.elementor-element-50842157 {
 background-color:#ffbb33;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 margin-top:0px;
 margin-bottom:0px;
 padding:40px 0px 30px 0px;
}
.elementor-2 .elementor-element.elementor-element-50842157 > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-67e5384d > .elementor-element-populated {
 margin:08px 0px 8px 0px;
}
.elementor-2 .elementor-element.elementor-element-b809eae {
 text-align:center;
}
.elementor-2 .elementor-element.elementor-element-b809eae.elementor-widget-heading .elementor-heading-title {
 color:#ffffff;
}
.elementor-2 .elementor-element.elementor-element-b809eae .elementor-heading-title {
 font-family:"Roboto", Sans-serif;
 font-size:17px;
 font-weight:400;
 line-height:1.4em;
}
.elementor-2 .elementor-element.elementor-element-b809eae > .elementor-widget-container {
 margin:0px 0px 0px 0px;
 padding:0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-05cf4c9 > .elementor-container {
 min-height:272px;
}
.elementor-2 .elementor-element.elementor-element-05cf4c9 > .elementor-container:after {
 content:"";
 min-height:inherit;
}
.elementor-2 .elementor-element.elementor-element-05cf4c9 > .elementor-background-overlay {
 opacity:0.75;
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-05cf4c9 {
 box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 margin-top:0px;
 margin-bottom:0px;
 padding:50px 50px 70px 50px;
}
.elementor-2 .elementor-element.elementor-element-215ab34.elementor-column .elementor-column-wrap {
 align-items:center;
}
.elementor-2 .elementor-element.elementor-element-215ab34 > .elementor-element-populated, .elementor-2 .elementor-element.elementor-element-215ab34 > .elementor-element-populated > .elementor-background-overlay {
 border-radius:0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-215ab34 > .elementor-element-populated {
 box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 margin:0px 0px 0px 0px;
 padding:02% 10% 0% 10%;
}
.elementor-2 .elementor-element.elementor-element-215ab34 > .elementor-element-populated > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-575a626 .elementor-headline {
 text-align:center;
 font-family:"Roboto", Sans-serif;
 font-size:38px;
 font-weight:800;
 text-transform:uppercase;
}
.elementor-2 .elementor-element.elementor-element-575a626 .elementor-headline-plain-text {
 color:rgba(0,0,0,0.99);
}
.elementor-2 .elementor-element.elementor-element-575a626 .elementor-headline-dynamic-text {
 color:#ee4854;
 font-family:"Roboto", Sans-serif;
 font-weight:900;
 text-decoration:none;
}
.elementor-2 .elementor-element.elementor-element-575a626 > .elementor-widget-container {
 background-color:#ffffff;
}
.elementor-2 .elementor-element.elementor-element-1a088c1 .elementor-text-editor {
 text-align:center;
}
.elementor-2 .elementor-element.elementor-element-1a088c1 {
 color:#000000;
 font-family:"Roboto", Sans-serif;
 font-size:15px;
 font-weight:400;
 line-height:1.7em;
 letter-spacing:0px;
}
.elementor-2 .elementor-element.elementor-element-1a088c1 > .elementor-widget-container {
 margin:0px 250px 0px 250px;
 padding:0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-bf4036a a.elementor-button, .elementor-2 .elementor-element.elementor-element-bf4036a .elementor-button {
 font-family:"Roboto", Sans-serif;
 font-size:14px;
 font-weight:600;
 text-transform:uppercase;
 color:#ee4854;
 background-color:rgba(255,255,255,0.01);
 border-radius:40px 40px 40px 40px;
}
.elementor-2 .elementor-element.elementor-element-bf4036a a.elementor-button:hover, .elementor-2 .elementor-element.elementor-element-bf4036a .elementor-button:hover {
 color:#ffffff;
 background-color:#ee4854;
}
.elementor-2 .elementor-element.elementor-element-bf4036a .elementor-button {
 border-style:solid;
 border-width:2px 2px 2px 2px;
}
.elementor-2 .elementor-element.elementor-element-bf4036a > .elementor-widget-container {
 padding:10px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-4b9e54a2 > .elementor-container {
 max-width:900px;
 min-height:600px;
}
.elementor-2 .elementor-element.elementor-element-4b9e54a2 > .elementor-container:after {
 content:"";
 min-height:inherit;
}
.elementor-2 .elementor-element.elementor-element-4b9e54a2 {
 background-image:url("http://vegfruexport.eu/wp-content/uploads/2018/09/markus-spiske-342379-joanna-kosinska-340751-joanna-kosinska-340751-copy-4-31-Mask-Copy.png");
 background-position:center center;
 background-size:cover;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2 .elementor-element.elementor-element-4b9e54a2 > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-1186ba96 > .elementor-element-populated {
 background-color:#ffffff;
 border-style:solid;
 border-width:1px 1px 1px 1px;
 border-color:#dddddd;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 padding:50px 50px 50px 50px;
}
.elementor-2 .elementor-element.elementor-element-1186ba96 > .elementor-element-populated, .elementor-2 .elementor-element.elementor-element-1186ba96 > .elementor-element-populated > .elementor-background-overlay {
 border-radius:0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-1186ba96 > .elementor-element-populated > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-caeb84f .elementor-icon-wrapper {
 text-align:center;
}
.elementor-2 .elementor-element.elementor-element-caeb84f.elementor-view-stacked .elementor-icon {
 background-color:#ee4854;
}
.elementor-2 .elementor-element.elementor-element-caeb84f.elementor-view-framed .elementor-icon, .elementor-2 .elementor-element.elementor-element-caeb84f.elementor-view-default .elementor-icon {
 color:#ee4854;
 border-color:#ee4854;
}
.elementor-2 .elementor-element.elementor-element-caeb84f .elementor-icon {
 font-size:62px;
}
.elementor-2 .elementor-element.elementor-element-caeb84f .elementor-icon i {
 transform:rotate(0deg);
}
.elementor-2 .elementor-element.elementor-element-10104ba9.elementor-position-right .elementor-image-box-img {
 margin-left:15px;
}
.elementor-2 .elementor-element.elementor-element-10104ba9.elementor-position-left .elementor-image-box-img {
 margin-right:15px;
}
.elementor-2 .elementor-element.elementor-element-10104ba9.elementor-position-top .elementor-image-box-img {
 margin-bottom:15px;
}
.elementor-2 .elementor-element.elementor-element-10104ba9 .elementor-image-box-wrapper .elementor-image-box-img {
 width:30%;
}
.elementor-2 .elementor-element.elementor-element-10104ba9 .elementor-image-box-img img {
 transition-duration:0.3s;
}
.elementor-2 .elementor-element.elementor-element-10104ba9 .elementor-image-box-wrapper {
 text-align:center;
}
.elementor-2 .elementor-element.elementor-element-10104ba9 .elementor-image-box-content .elementor-image-box-title {
 color:#495157;
 font-family:"Ubuntu", Sans-serif;
 font-size:22px;
 font-weight:100;
 line-height:1em;
}
.elementor-2 .elementor-element.elementor-element-10104ba9 .elementor-image-box-content .elementor-image-box-description {
 color:#495157;
 font-family:"Ubuntu", Sans-serif;
 font-size:14px;
 font-weight:300;
 line-height:1.2em;
}
.elementor-2 .elementor-element.elementor-element-6745c18a > .elementor-element-populated {
 background-color:#ffffff;
 border-style:solid;
 border-width:1px 1px 1px 0px;
 border-color:#dddddd;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 padding:50px 50px 50px 50px;
}
.elementor-2 .elementor-element.elementor-element-6745c18a > .elementor-element-populated > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-7f6df3b .elementor-icon-wrapper {
 text-align:center;
}
.elementor-2 .elementor-element.elementor-element-7f6df3b.elementor-view-stacked .elementor-icon {
 background-color:#ee4854;
}
.elementor-2 .elementor-element.elementor-element-7f6df3b.elementor-view-framed .elementor-icon, .elementor-2 .elementor-element.elementor-element-7f6df3b.elementor-view-default .elementor-icon {
 color:#ee4854;
 border-color:#ee4854;
}
.elementor-2 .elementor-element.elementor-element-7f6df3b .elementor-icon {
 font-size:62px;
}
.elementor-2 .elementor-element.elementor-element-7f6df3b .elementor-icon i {
 transform:rotate(0deg);
}
.elementor-2 .elementor-element.elementor-element-d91bf30.elementor-position-right .elementor-image-box-img {
 margin-left:15px;
}
.elementor-2 .elementor-element.elementor-element-d91bf30.elementor-position-left .elementor-image-box-img {
 margin-right:15px;
}
.elementor-2 .elementor-element.elementor-element-d91bf30.elementor-position-top .elementor-image-box-img {
 margin-bottom:15px;
}
.elementor-2 .elementor-element.elementor-element-d91bf30 .elementor-image-box-wrapper .elementor-image-box-img {
 width:30%;
}
.elementor-2 .elementor-element.elementor-element-d91bf30 .elementor-image-box-img img {
 transition-duration:0.3s;
}
.elementor-2 .elementor-element.elementor-element-d91bf30 .elementor-image-box-wrapper {
 text-align:center;
}
.elementor-2 .elementor-element.elementor-element-d91bf30 .elementor-image-box-content .elementor-image-box-title {
 color:#495157;
 font-family:"Ubuntu", Sans-serif;
 font-size:22px;
 font-weight:100;
 line-height:1em;
}
.elementor-2 .elementor-element.elementor-element-d91bf30 .elementor-image-box-content .elementor-image-box-description {
 color:#495157;
 font-family:"Ubuntu", Sans-serif;
 font-size:14px;
 font-weight:300;
 line-height:1.2em;
}
.elementor-2 .elementor-element.elementor-element-6251e6a {
 background-color:#ffffff;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 margin-top:0px;
 margin-bottom:0px;
 padding:0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-6251e6a > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-85d9c08.elementor-column .elementor-column-wrap {
 align-items:center;
}
.elementor-2 .elementor-element.elementor-element-85d9c08 > .elementor-element-populated {
 background-color:#ffbb33;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 margin:0px 0px 0px 0px;
 padding:0px 40px 0px 40px;
}
.elementor-2 .elementor-element.elementor-element-85d9c08 > .elementor-element-populated >  .elementor-background-overlay {
 opacity:0.98;
}
.elementor-2 .elementor-element.elementor-element-85d9c08 > .elementor-element-populated > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-24a6f9f > .elementor-container {
 max-width:1000px;
}
.elementor-2 .elementor-element.elementor-element-24a6f9f {
 border-style:solid;
 border-width:0px 0px 0px 0px;
 border-color:#eeeeee;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 padding:0px 30px 0px 70px;
}
.elementor-2 .elementor-element.elementor-element-24a6f9f > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-5fbc407 > .elementor-element-populated {
 margin:0px 0px 0px 0px;
 padding:0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-233ee7a .elementor-headline {
 text-align:left;
 font-family:"Roboto", Sans-serif;
 font-size:38px;
 font-weight:800;
 text-transform:uppercase;
}
.elementor-2 .elementor-element.elementor-element-233ee7a .elementor-headline-plain-text {
 color:rgba(0,0,0,0.99);
}
.elementor-2 .elementor-element.elementor-element-233ee7a .elementor-headline-dynamic-text {
 color:#ffffff;
 font-family:"Roboto", Sans-serif;
 font-weight:900;
 text-decoration:none;
}
.elementor-2 .elementor-element.elementor-element-f7482bf .elementor-text-editor {
 text-align:left;
}
.elementor-2 .elementor-element.elementor-element-f7482bf {
 color:#ffffff;
 font-family:"Roboto", Sans-serif;
 font-size:15px;
 font-weight:400;
 line-height:1.7em;
 letter-spacing:0px;
}
.elementor-2 .elementor-element.elementor-element-f7482bf > .elementor-widget-container {
 margin:0px 0px 0px 0px;
 padding:0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-79aabe2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
 padding-bottom:calc(8px/2);
}
.elementor-2 .elementor-element.elementor-element-79aabe2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
 margin-top:calc(8px/2);
}
.elementor-2 .elementor-element.elementor-element-79aabe2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
 margin-right:calc(8px/2);
 margin-left:calc(8px/2);
}
.elementor-2 .elementor-element.elementor-element-79aabe2 .elementor-icon-list-items.elementor-inline-items {
 margin-right:calc(-8px/2);
 margin-left:calc(-8px/2);
}
body.rtl .elementor-2 .elementor-element.elementor-element-79aabe2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
 left:calc(-8px/2);
}
body:not(.rtl) .elementor-2 .elementor-element.elementor-element-79aabe2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
 right:calc(-8px/2);
}
.elementor-2 .elementor-element.elementor-element-79aabe2 .elementor-icon-list-icon i {
 color:#ffffff;
 font-size:19px;
}
.elementor-2 .elementor-element.elementor-element-79aabe2 .elementor-icon-list-icon {
 width:19px;
}
.elementor-2 .elementor-element.elementor-element-79aabe2 .elementor-icon-list-text {
 color:#ffffff;
 padding-left:10px;
}
.elementor-2 .elementor-element.elementor-element-79aabe2 .elementor-icon-list-item {
 font-family:"Roboto", Sans-serif;
 font-size:15px;
 font-weight:400;
}
.elementor-2 .elementor-element.elementor-element-f159dd3 > .elementor-element-populated {
 background-color:rgba(239,239,239,0.1);
 background-image:url("http://vegfruexport.eu/wp-content/uploads/2018/09/potatoes-vegetables-erdfrucht-bio-162673.jpeg");
 background-position:center center;
 background-repeat:no-repeat;
 background-size:cover;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 margin:0px 0px 0px 0px;
 padding:200px 40px 200px 40px;
}
.elementor-2 .elementor-element.elementor-element-f159dd3 > .elementor-element-populated >  .elementor-background-overlay {
 opacity:0.98;
}
.elementor-2 .elementor-element.elementor-element-f159dd3 > .elementor-element-populated > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-20b39bd > .elementor-container {
 max-width:1000px;
}
.elementor-2 .elementor-element.elementor-element-20b39bd {
 border-style:solid;
 border-width:0px 0px 0px 0px;
 border-color:#eeeeee;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 padding:0px 30px 0px 30px;
}
.elementor-2 .elementor-element.elementor-element-20b39bd > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-0f7f72b > .elementor-element-populated {
 padding:0px 10px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-9491576 .elementor-spacer-inner {
 height:50px;
}
.elementor-2 .elementor-element.elementor-element-5f3366a {
 border-style:solid;
 border-width:2px 0px 0px 0px;
 border-color:#d3d3d3;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 padding:0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-5f3366a > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-3cdc3f98.elementor-column .elementor-column-wrap {
 align-items:center;
}
.elementor-2 .elementor-element.elementor-element-3cdc3f98 > .elementor-element-populated {
 margin:5% 5% 5% 5%;
}
.elementor-2 .elementor-element.elementor-element-b927fff .elementor-headline {
 text-align:center;
 font-family:"Roboto", Sans-serif;
 font-size:38px;
 font-weight:800;
 text-transform:uppercase;
}
.elementor-2 .elementor-element.elementor-element-b927fff .elementor-headline-plain-text {
 color:rgba(0,0,0,0.99);
}
.elementor-2 .elementor-element.elementor-element-b927fff .elementor-headline-dynamic-text {
 color:#ee4854;
 font-family:"Roboto", Sans-serif;
 font-weight:900;
 text-decoration:none;
}
.elementor-2 .elementor-element.elementor-element-4a792fb8 .elementor-divider-separator {
 border-top-style:solid;
 border-top-width:1px;
 border-top-color:#cecece;
 width:42%;
}
.elementor-2 .elementor-element.elementor-element-4a792fb8 .elementor-divider {
 text-align:center;
 padding-top:15px;
 padding-bottom:15px;
}
.elementor-2 .elementor-element.elementor-element-18e854f1 .elementor-testimonial-content {
 color:#495157;
 font-family:"Ubuntu", Sans-serif;
 font-size:16px;
 font-weight:400;
 font-style:italic;
 line-height:1.7em;
}
.elementor-2 .elementor-element.elementor-element-18e854f1 .elementor-testimonial-wrapper .elementor-testimonial-image img {
 width:55px;
 height:55px;
}
.elementor-2 .elementor-element.elementor-element-18e854f1 .elementor-testimonial-name {
 color:#ff0044;
 font-family:"Ubuntu", Sans-serif;
 font-size:14px;
 text-transform:uppercase;
}
.elementor-2 .elementor-element.elementor-element-b0d025b > .elementor-container {
 max-width:650px;
}
.elementor-2 .elementor-element.elementor-element-b0d025b {
 background-color:#ffbb33;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 margin-top:0px;
 margin-bottom:0px;
 padding:40px 0px 30px 0px;
}
.elementor-2 .elementor-element.elementor-element-b0d025b > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-472c6f2 > .elementor-element-populated {
 margin:08px 0px 8px 0px;
}
.elementor-2 .elementor-element.elementor-global-187 {
 text-align:center;
}
.elementor-2 .elementor-element.elementor-global-187 .elementor-social-icon:not(:hover) {
 background-color:rgba(255,255,255,0.63);
}
.elementor-2 .elementor-element.elementor-global-187 .elementor-social-icon:not(:hover) i {
 color:#ffffff;
}
.elementor-2 .elementor-element.elementor-global-187 .elementor-social-icon {
 font-size:14px;
}
.elementor-2 .elementor-element.elementor-global-187 .elementor-social-icon:not(:last-child) {
 margin-right:36px;
}
.elementor-2 .elementor-element.elementor-element-611906de > .elementor-container {
 max-width:1430px;
}
.elementor-2 .elementor-element.elementor-element-611906de > .elementor-background-overlay {
 opacity:0.87;
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-611906de, .elementor-2 .elementor-element.elementor-element-611906de > .elementor-background-overlay {
 border-radius:0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-611906de {
 box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 margin-top:0px;
 margin-bottom:0px;
 padding:0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-33b3e430 > .elementor-element-populated {
 background-color:rgba(0,0,0,0);
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 padding:20px 0px 60px 70px;
}
.elementor-2 .elementor-element.elementor-element-33b3e430 > .elementor-element-populated >  .elementor-background-overlay {
 opacity:0.5;
}
.elementor-2 .elementor-element.elementor-element-33b3e430 > .elementor-element-populated > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-4cace8a9 > .elementor-container {
 max-width:1222px;
}
.elementor-2 .elementor-element.elementor-element-4cace8a9 {
 border-style:solid;
 border-width:0px 0px 0px 0px;
 border-color:#eeeeee;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2 .elementor-element.elementor-element-4cace8a9 > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-214179bc.elementor-column .elementor-column-wrap {
 align-items:center;
}
.elementor-2 .elementor-element.elementor-element-214179bc > .elementor-element-populated {
 background-color:#ffffff;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 margin:30px 20px 20px 20px;
 padding:0px 20px 32px 32px;
}
.elementor-2 .elementor-element.elementor-element-214179bc > .elementor-element-populated, .elementor-2 .elementor-element.elementor-element-214179bc > .elementor-element-populated > .elementor-background-overlay {
 border-radius:20px 20px 20px 20px;
}
.elementor-2 .elementor-element.elementor-element-214179bc > .elementor-element-populated > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-global-144 .elementor-image img {
 max-width:46%;
}
.elementor-2 .elementor-element.elementor-global-144 > .elementor-widget-container {
 padding:20px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-global-147 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
 padding-bottom:calc(14px/2);
}
.elementor-2 .elementor-element.elementor-global-147 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
 margin-top:calc(14px/2);
}
.elementor-2 .elementor-element.elementor-global-147 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
 margin-right:calc(14px/2);
 margin-left:calc(14px/2);
}
.elementor-2 .elementor-element.elementor-global-147 .elementor-icon-list-items.elementor-inline-items {
 margin-right:calc(-14px/2);
 margin-left:calc(-14px/2);
}
body.rtl .elementor-2 .elementor-element.elementor-global-147 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
 left:calc(-14px/2);
}
body:not(.rtl) .elementor-2 .elementor-element.elementor-global-147 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
 right:calc(-14px/2);
}
.elementor-2 .elementor-element.elementor-global-147 .elementor-icon-list-icon i {
 color:#ee4854;
 font-size:24px;
}
.elementor-2 .elementor-element.elementor-global-147 .elementor-icon-list-icon {
 width:24px;
}
.elementor-2 .elementor-element.elementor-global-147 .elementor-icon-list-text {
 color:#4f4f4f;
 padding-left:18px;
}
.elementor-2 .elementor-element.elementor-global-147 .elementor-icon-list-item {
 font-family:"Roboto", Sans-serif;
 font-size:15px;
 font-weight:400;
 line-height:1.8em;
 letter-spacing:0px;
}
.elementor-2 .elementor-element.elementor-global-147 > .elementor-widget-container {
 padding:10px 50px 0px 150px;
}
.elementor-2 .elementor-element.elementor-element-66621ea7 > .elementor-element-populated {
 background-color:rgba(0,0,0,0);
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 padding:80px 70px 60px 0px;
}
.elementor-2 .elementor-element.elementor-element-66621ea7 > .elementor-element-populated >  .elementor-background-overlay {
 opacity:0.5;
}
.elementor-2 .elementor-element.elementor-element-66621ea7 > .elementor-element-populated > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-2de2ebd2 > .elementor-container {
 max-width:1222px;
}
.elementor-2 .elementor-element.elementor-element-2de2ebd2 {
 border-style:solid;
 border-width:0px 0px 0px 0px;
 border-color:#eeeeee;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2 .elementor-element.elementor-element-2de2ebd2 > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-31463ad6.elementor-column .elementor-column-wrap {
 align-items:center;
}
.elementor-2 .elementor-element.elementor-element-31463ad6 > .elementor-element-populated {
 background-color:#ffffff;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 margin:20px 20px 20px 20px;
 padding:20px 20px 20px 20px;
}
.elementor-2 .elementor-element.elementor-element-31463ad6 > .elementor-element-populated, .elementor-2 .elementor-element.elementor-element-31463ad6 > .elementor-element-populated > .elementor-background-overlay {
 border-radius:20px 20px 20px 20px;
}
.elementor-2 .elementor-element.elementor-element-31463ad6 > .elementor-element-populated > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-global-150 .elementor-field-group {
 padding-right:calc( 10px/2 );
 padding-left:calc( 10px/2 );
 margin-bottom:16px;
}
.elementor-2 .elementor-element.elementor-global-150 .elementor-form-fields-wrapper {
 margin-left:calc( -10px/2 );
 margin-right:calc( -10px/2 );
 margin-bottom:-16px;
}
body.rtl .elementor-2 .elementor-element.elementor-global-150 .elementor-labels-inline .elementor-field-group > label {
 padding-left:0px;
}
body:not(.rtl) .elementor-2 .elementor-element.elementor-global-150 .elementor-labels-inline .elementor-field-group > label {
 padding-right:0px;
}
body .elementor-2 .elementor-element.elementor-global-150 .elementor-labels-above .elementor-field-group > label {
 padding-bottom:0px;
}
.elementor-2 .elementor-element.elementor-global-150 .elementor-field-group .elementor-field {
 color:#000000;
}
.elementor-2 .elementor-element.elementor-global-150 .elementor-field-group .elementor-field, .elementor-2 .elementor-element.elementor-global-150 .elementor-field-subgroup label {
 font-family:"Roboto", Sans-serif;
 font-size:15px;
 font-weight:400;
}
.elementor-2 .elementor-element.elementor-global-150 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
 background-color:#ffffff;
 border-color:#e2e2e2;
 border-width:1px 1px 1px 1px;
 border-radius:10px 10px 10px 10px;
}
.elementor-2 .elementor-element.elementor-global-150 .elementor-field-group .elementor-select-wrapper select {
 background-color:#ffffff;
 border-color:#e2e2e2;
 border-width:1px 1px 1px 1px;
 border-radius:10px 10px 10px 10px;
}
.elementor-2 .elementor-element.elementor-global-150 .elementor-field-group .elementor-select-wrapper::before {
 color:#e2e2e2;
}
.elementor-2 .elementor-element.elementor-global-150 .elementor-button {
 background-color:#ee4854;
 font-family:"Roboto Condensed", Sans-serif;
 font-size:16px;
 font-weight:bold;
 text-transform:uppercase;
 letter-spacing:3px;
 border-radius:10px 10px 10px 10px;
}
.elementor-2 .elementor-element.elementor-global-150 .elementor-button:hover {
 background-color:#000000;
}
.elementor-2 .elementor-element.elementor-global-150 > .elementor-widget-container {
 background-color:rgba(0,0,0,0);
}
.elementor-2 .elementor-element.elementor-element-fb0bc42 > .elementor-container {
 max-width:1140px;
}
.elementor-2 .elementor-element.elementor-element-fb0bc42 {
 background-color:#000000;
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 padding:0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-fb0bc42, .elementor-2 .elementor-element.elementor-element-fb0bc42 > .elementor-background-overlay {
 border-radius:0px 0px 0px 0px;
}
.elementor-2 .elementor-element.elementor-element-fb0bc42 > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2 .elementor-element.elementor-element-2560b9c > .elementor-element-populated {
 padding:10px 10px 10px 10px;
}
.elementor-2 .elementor-element.elementor-element-4ad5d74 {
 text-align:center;
}
.elementor-2 .elementor-element.elementor-element-4ad5d74.elementor-widget-heading .elementor-heading-title {
 color:#ffffff;
}
.elementor-2 .elementor-element.elementor-element-4ad5d74 .elementor-heading-title {
 font-family:"Helvetica", Sans-serif;
 font-size:12px;
 font-weight:normal;
 font-style:normal;
 line-height:1em;
}
.elementor-2 .elementor-element.elementor-element-4ad5d74 > .elementor-widget-container {
 border-style:solid;
 border-width:0px 0px 0px 0px;
}
@media(max-width:1024px) {
 .elementor-2 .elementor-element.elementor-element-5cd220c3 {
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-ed250d2 > .elementor-element-populated {
  margin:0px 0px 50px 50px;
 }
 .elementor-2 .elementor-element.elementor-element-33bbce7 .elementor-image img {
  max-width:45%;
 }
 .elementor-2 .elementor-element.elementor-element-36580b5 .elementor-heading-title {
  font-size:20px;
 }
 .elementor-2 .elementor-element.elementor-element-b809eae .elementor-heading-title {
  font-size:27px;
 }
 .elementor-2 .elementor-element.elementor-element-b809eae > .elementor-widget-container {
  margin:50px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-05cf4c9 {
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-215ab34 > .elementor-element-populated {
  padding:40px 30px 40px 40px;
 }
 .elementor-2 .elementor-element.elementor-element-1a088c1 > .elementor-widget-container {
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-4b9e54a2 > .elementor-container {
  min-height:380px;
 }
 .elementor-2 .elementor-element.elementor-element-4b9e54a2 > .elementor-container:after {
  content:"";
  min-height:inherit;
 }
 .elementor-2 .elementor-element.elementor-element-4b9e54a2 {
  margin-top:0px;
  margin-bottom:0px;
  padding:30px 30px 30px 30px;
 }
 .elementor-2 .elementor-element.elementor-element-85d9c08 > .elementor-element-populated {
  margin:0px 0px 0px 0px;
  padding:30px 30px 30px 30px;
 }
 .elementor-2 .elementor-element.elementor-element-24a6f9f {
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-5fbc407 > .elementor-element-populated {
  padding:0px 40px 20px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-f7482bf > .elementor-widget-container {
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-f159dd3 > .elementor-element-populated {
  margin:0px 0px 0px 0px;
  padding:30px 30px 30px 30px;
 }
 .elementor-2 .elementor-element.elementor-element-20b39bd {
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-0f7f72b > .elementor-element-populated {
  padding:0px 40px 20px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-5f3366a {
  padding:060px 0px 60px 020px;
 }
 .elementor-2 .elementor-element.elementor-element-3cdc3f98 > .elementor-element-populated {
  margin:0px 50px 0px 40px;
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-33b3e430 > .elementor-element-populated {
  margin:0px 50px 0px 50px;
  padding:50px 50px 50px 50px;
 }
 .elementor-2 .elementor-element.elementor-element-4cace8a9 {
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-214179bc > .elementor-element-populated {
  padding:0px 40px 20px 0px;
 }
 .elementor-2 .elementor-element.elementor-global-147 .elementor-icon-list-item {
  font-size:14px;
 }
 .elementor-2 .elementor-element.elementor-global-147 > .elementor-widget-container {
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-66621ea7 > .elementor-element-populated {
  margin:0px 50px 0px 50px;
  padding:50px 50px 50px 50px;
 }
 .elementor-2 .elementor-element.elementor-element-2de2ebd2 {
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-31463ad6 > .elementor-element-populated {
  padding:0px 40px 20px 0px;
 }
}
@media(max-width:767px) {
 .elementor-2 .elementor-element.elementor-element-5cd220c3 {
  padding:0px 00px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-ed250d2 > .elementor-element-populated {
  margin:0px 0px 0px 0px;
  padding:60px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-33bbce7 {
  text-align:center;
 }
 .elementor-2 .elementor-element.elementor-element-33bbce7 .elementor-image img {
  max-width:50%;
 }
 .elementor-2 .elementor-element.elementor-element-33bbce7 > .elementor-widget-container {
  margin:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-36580b5 {
  text-align:center;
 }
 .elementor-2 .elementor-element.elementor-element-36580b5 .elementor-heading-title {
  font-size:17px;
 }
 .elementor-2 .elementor-element.elementor-element-36580b5 > .elementor-widget-container {
  margin:0px 0px 050px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-50842157 {
  padding:030px 20px 30px 20px;
 }
 .elementor-2 .elementor-element.elementor-element-67e5384d > .elementor-element-populated {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-b809eae {
  text-align:center;
 }
 .elementor-2 .elementor-element.elementor-element-b809eae .elementor-heading-title {
  font-size:23px;
  letter-spacing:-0.5px;
 }
 .elementor-2 .elementor-element.elementor-element-b809eae > .elementor-widget-container {
  margin:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-05cf4c9 {
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-215ab34 > .elementor-element-populated {
  padding:40px 30px 010px 30px;
 }
 .elementor-2 .elementor-element.elementor-element-1a088c1 .elementor-text-editor {
  text-align:left;
 }
 .elementor-2 .elementor-element.elementor-element-1a088c1 {
  font-size:14px;
 }
 .elementor-2 .elementor-element.elementor-element-1a088c1 > .elementor-widget-container {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-4b9e54a2 {
  padding:0px 0px 80px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-10104ba9 .elementor-image-box-img {
  margin-bottom:15px;
 }
 .elementor-2 .elementor-element.elementor-element-d91bf30 .elementor-image-box-img {
  margin-bottom:15px;
 }
 .elementor-2 .elementor-element.elementor-element-6251e6a {
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-85d9c08 > .elementor-element-populated {
  margin:0px 0px 0px 0px;
  padding:30px 30px 30px 30px;
 }
 .elementor-2 .elementor-element.elementor-element-24a6f9f {
  margin-top:0px;
  margin-bottom:0px;
  padding:15px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-5fbc407 > .elementor-element-populated {
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-f7482bf .elementor-text-editor {
  text-align:left;
 }
 .elementor-2 .elementor-element.elementor-element-f7482bf {
  font-size:14px;
 }
 .elementor-2 .elementor-element.elementor-element-f159dd3 > .elementor-element-populated {
  margin:0px 0px 0px 0px;
  padding:30px 30px 30px 30px;
 }
 .elementor-2 .elementor-element.elementor-element-20b39bd {
  margin-top:0px;
  margin-bottom:0px;
  padding:15px 0px 50px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-0f7f72b > .elementor-element-populated {
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-5f3366a {
  margin-top:0px;
  margin-bottom:0px;
  padding:0px 0px 40px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-3cdc3f98 > .elementor-element-populated {
  margin:20px 20px 20px 20px;
 }
 .elementor-2 .elementor-element.elementor-element-4a792fb8 .elementor-divider {
  text-align:center;
 }
 .elementor-2 .elementor-element.elementor-element-b0d025b {
  padding:030px 20px 30px 20px;
 }
 .elementor-2 .elementor-element.elementor-element-611906de {
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-33b3e430 > .elementor-element-populated {
  margin:0px 0px 0px 0px;
  padding:10px 10px 10px 10px;
 }
 .elementor-2 .elementor-element.elementor-element-4cace8a9 {
  margin-top:0px;
  margin-bottom:0px;
  padding:15px 0px 50px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-214179bc > .elementor-element-populated {
  padding:0px 0px 0px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-66621ea7 > .elementor-element-populated {
  margin:0px 0px 0px 0px;
  padding:10px 10px 10px 10px;
 }
 .elementor-2 .elementor-element.elementor-element-2de2ebd2 {
  margin-top:0px;
  margin-bottom:0px;
  padding:15px 0px 50px 0px;
 }
 .elementor-2 .elementor-element.elementor-element-31463ad6 > .elementor-element-populated {
  padding:0px 0px 0px 0px;
 }
}
@media(min-width:768px) {
 .elementor-2 .elementor-element.elementor-element-3eae85b8 {
  width:32.689%;
 }
 .elementor-2 .elementor-element.elementor-element-ed250d2 {
  width:67.311%;
 }
 .elementor-2 .elementor-element.elementor-element-85d9c08 {
  width:47.521%;
 }
 .elementor-2 .elementor-element.elementor-element-f159dd3 {
  width:55.616%;
 }
 .elementor-2 .elementor-element.elementor-element-33b3e430 {
  width:47.972%;
 }
 .elementor-2 .elementor-element.elementor-element-66621ea7 {
  width:52.028%;
 }
}
@media(max-width:1024px) and (min-width:768px) {
 .elementor-2 .elementor-element.elementor-element-3eae85b8 {
  width:50%;
 }
 .elementor-2 .elementor-element.elementor-element-ed250d2 {
  width:50%;
 }
 .elementor-2 .elementor-element.elementor-element-3cdc3f98 {
  width:55%;
 }
}
